* {
  font-family: 'Lato', sans-serif;
}
p{
  text-align: center;
}
nav{
  font-weight: bold;
}

ul{
  list-style: none;
  display: inline;
}
.header a{
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.fullWrapper{
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

h2, li, h3{
  text-align: center;

}
li{
  padding-bottom: 1.5rem;
}
.introduction{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

}
.profileImage{
  width: 70%;
}
.introduction p{
  text-align: center;
  font-weight: lighter;
  margin: 15px;
}

.containerImages{
  width:100%;
}

.main-container p{
  padding-bottom: 2rem;
}
.footer{
  border-top: solid #F4EEA9 2px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact{
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.footer span{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer a{
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.side-2{
  display: none;
}

@media(min-width: 768px){



  .header h2{
    text-align: center;
  }
  .header ul{
    margin: auto;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header li{
    padding-right: 2rem;
  }

.introduction{
  flex-wrap: nowrap;
  flex: 1;
  padding-bottom: 6rem;

}
.introduction p{
  flex-grow: 2;
  order: -1;
  margin-top: 0;
  font-size: 1.4rem;
}

.main-container{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.col{
  flex-basis: 49.5%;
}

.cont-1,.cont-3,.cont-5{
  margin-right: 7px;
}



.col p{
  padding-left:20%;
  padding-right: 20%;
  font-weight: lighter;
}
.contact p{
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left:15% ;
  padding-right:15%;
}

.side-1{
  display: none;
}

.side-2{
  display: flex;
}

.footer a{
  margin-right: 12px;
}

}

@media(min-width: 1024px){
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header h2{
    margin-top: 0px;
  }
nav{
  display: flex;
  justify-content: flex-end;
}
.main-container{
  justify-content: space-around;
}
.col{
  flex-basis: 30%;
}
}
