
* {
  font-family: 'Lato', sans-serif;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header span{
  font-weight: bold;
  margin: 1rem;


}

#profileImage {
  padding-top: 2rem;
  width: 80%;



}




/* font-family: 'Lato', sans-serif; */
